
h2{
  text-align: center;
}
h2:hover{
  color: rgb(202, 228, 219);
}
.formdiv{
  background-color: rgb(59, 57, 57);
  height: 100vh;
}
.btn{
  color:azure;
  list-style: none;
}
.form{
  height: 60vh;
  border-radius: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}
.button{
  text-decoration: none;
  list-style: none;

}
.homediv{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}
li{
  list-style: none;
  padding-left: 50px;
  color: rgba(252, 7, 7, 0.712);
}
.navdiv{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}
h1:hover{
  color: rgb(163, 160, 160);
}
